name: Python application

on:
  push:
    branches: [ "minha-branch-teste" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker build -t flask-api-test .

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t flask-api-test .

      - name: Run container
        run: docker run -d -p 1313:1313 --name flask-api -e JWT_SECRET_KEY="minha-chave-secreta" flask-api-test

      - name: Wait for API to be ready
        run: sleep 5

      - name: Run tests
        run: docker exec flask-api python test_app.py

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Deploy to production
        uses: Gabriella/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.MY_RENDER_SERVICE_ID }}
          api-key: ${{ secrets.MY_RENDER_API_KEY }}
          wait-for-success: true
